@use "./base.scss";

// put your custom CSS here!
// Additional padding for first and last child of table cells in various views
.cards {
   table th:first-child,
   table td:first-child,
   th:first-child,
   td:first-child,
   cd:first-child,
   th:first-child {
   padding-left: 20px !important; }
   table th:last-child,
   table td:last-child,
   th:last-child,
   td:last-child {
   padding-right: 20px; }
  }